* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    margin: 10px 0px 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    color: black;
}

nav .actions {
    padding: 15px 30px;
    align-items: center;
    display: flex;
    gap: 15px;
}

nav .actions a {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
}

.action1 {
    font-weight: bold;
    font-size: 10px;
}

.action1 .material-symbols-outlined {
    align-items: center;
    margin-left: 4px;
}

.action2 {
    background-color: #1dbfb0;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: bold;
}

.section-1 {
    padding: 20px 0px 10px 0px;
    background-color: #18181b;
    color: white;
    height: 660px;
}

.section-1 a {
    text-decoration: none;
    color: white;
}

.section-1 .line-1 {
    margin: 0px 80px 20px 80px;
}

.section-1 .line-1 a {
    color: #796f6b;
    font-weight: bold;
    font-size: 9px;
    margin-right: 15px;
}

.section-1 .content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.233)), url('img/img001.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 0px 80px 0px 80px; 
    height: 480px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
}

.section-1 .content .p1 {
    background-color: #c5c6c6;
    border-radius: 15px;
    color: black;
    font-size: 9px;
    font-weight: bold;
    margin-right: auto;
    margin-top: 100px;
    padding: 2px 10px;
}

.section-1 .content .p2 { 
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    width: 60%;
    line-height: 2;
}

.section-1 .content h1 {
    font-size: 50px;
    margin-top: 8px;
}

.section-1 .baseboard {
    margin: 0px 80px 0px 80px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    color: black;
    z-index: 1;
    display: flex;
    padding: 20px;
}

.section-1 .baseboard ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: bold;
    font-size: 13px;
}

.section-1 .baseboard ul li {
    align-items: center;
    display: flex;
}

.section-1 .baseboard ul li i {
    margin-right: 10px;
}

.section-1 .baseboard a {
    background-color: #1dbfb0;
    color: black;
    margin-left: auto;
    border-radius: 15px;
    padding: 7px 13px;
    font-weight: bold;
    font-size: 10px;
}

/* SECTION 2 */

.section-2 {
    display: flex;
    gap: 80px;
    padding: 40px 120px 40px 120px;
    height: auto;
}

.column-1 {
    width: 65%;
}

.column-1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.column-1 h2 {
    font-size: 15px;
}

.column-1 p {
    font-size: 10px;
    line-height: 2;
    margin-bottom: 10px;
}

.column-1 a {
    text-decoration: none;
    color: black;
}

.column-1 a:hover {
    color: #1dbfb0;
    transition: 0.3s;
}

.column-2 {
    width: 35%;
    margin-top: 40px;
}

.column-2 i {
    border-radius: 5px;
    background-color: #1dbfb0;
    padding: 6px;
    font-size: 20px;
    margin-right: 10px;
}

.column-2 .material-symbols-outlined {
    font-size: 25px;
}

.column-2 h3 {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 8px;
}

.column-2 p {
    font-size: 10px;
    line-height: 2;
    margin-bottom: 10px;
}

.column-2 img {
    width: 10%;
    height: 10%;
}

.column-2 h4 {
    margin-left: 10px;
}

.column-2 .p2 {
    margin-left: 10px;
}

.column-2 .professor {
    display: flex;
}

.column-2 .icons {
    display: flex;
    margin-left: 20%;
    gap: 5px;
}

.icons a {
    font-size: 20px;
    color: black;
}

.icons a:hover {
    color:#1dbfb0;
    transition: 0.3s;
    
}

/* SECTION 3 */

.section-3 {
    padding: 40px 120px 40px 120px;
    gap: 200px;
    height: auto;
}

.section-3 .title {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.section-3 .title h2 {
    font-size: 40px;
    font-weight: normal;
}

.section-3 .title p {
    align-self: center;
    color:#796f6b;
    margin-left: 150px;
}

.section-3 details {
    overflow: hidden;
    width: 70%;
    height: auto;
}

.section-3 details h3 {
    font-weight: normal;
}

.section-3 details p {
    font-size: 10px;
    color: #796f6b;
}

.section-3 details summary {
    list-style: none;
    cursor: pointer;
    padding: 10px;
}

.section-3 details summary::after {
    content: '⮟';
    float: right;
}

details[open] summary::after {
    transform: rotate(180deg);
    transition: transform 0.9s ease;
}

.section-3 details ul {
    align-items: center;
}

.section-3 details li {
    align-items: center;
    display: flex;
    padding: 5px;
}

/* SECTION 4 */

.section-4 {
    padding: 40px 120px 40px 120px;
}

.section-4 .title {
    display: flex;
    margin-bottom: 20px;
}

.section-4 .title h3 {
    font-size: 40px;
    font-weight: normal;
}

.section-4 details {
    width: 70%;
    margin-bottom: 20px;
}

.section-4 details summary {
    list-style: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.section-4 details summary::after {
    content: '⮟';
    float: right;
}

.section-4 ul {
    list-style: none;
}

.section-4 .share {
    width: 70%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* SECTION 5 */

.section-5 {
    margin: 80px;
}

.section-5 .title {
    display: flex;
    font-size: 25px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card1 {
    position: relative;
    width: 300px;   
    height: 480px;
    overflow: hidden;
    border-radius: 14px;
    cursor: pointer;
}

.card1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    transition: transform 0.4s;
}

.card1:hover img {
    transform: scale(1.05);
}

.card1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15), transparent);
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #d4d0cf;
    border-radius: 15px;
    padding: 1px 10px;
    font-size: 9px;
    z-index: 2;
}

.overlay {
    font-size: 17px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
}

.info {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
}

.info span {
    margin-right: 15px;
}

/* SECTION 6 */

.section-6 {
    background-color: #1dbfb0;
    padding: 0px 70px;
    height: 180px;
}

.banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    width: 60%;
    margin: auto;
    
}

.banner1 img {
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.banner1 h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.banner1 p {
    font-size: 15px;
    gap: 10px;
}   


.banner1 .button {
    background-color: #18181b;
    color: white;
    font-size: 9px;
    border-radius: 15px;
    padding: 10px 8px;
    text-decoration: none;
    white-space: nowrap;
    cursor: default;
}

.button:hover {
    background-color: #7b42f0;
    color: white;
    transition: 0.3s;
    cursor: default;
}

/* SECTION 7 */

.section-7 {
    background-color: #18181b;
    display: flex;
}

.content7 {
    margin: auto;
}

.section-7 h5 {
    color: white;
    font-size: 35px;
    padding-top: 40px;
    font-weight: normal;
}

.section-7 p {
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
}




